<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HEllow</h1>
    
    <% if (list.length > 0 ) { %>
        <% list.forEach(list => { %>
            <h2 class="id"> <%= list.id %></h2>
            <p class="Owner"><%= list.Owner %> </p>
            <p class="Pet"> <%= list.Pet %>  </p>
        <% }) %>
        
    <% } %>

    

</body>
</html>